<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Голосование Клиент</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Голосование</a>
</nav>

<main role="main" class="container">

    <div class="row">
        <div class="col-12 text-center">
            <p>Здесь будет вопрос?</p>
            <button type="button" class="btn btn-primary btn-lg btn-block">Вариант 1</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">Вариант 2</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">Вариант 3</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">Вариант 4</button>
        </div>
    </div>

</main><!-- /.container -->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>